<div class="container col-auto text-center mt-5">
  <div *ngIf="start">
    <div id="secondTenthsExample">
      <div class="values"></div>
    </div>
    <h2 [innerHTML]="'Puntuación: '+puntuacion"></h2>
  </div>
  <div *ngIf="!start" class="mb-4">
    <h1>Juego Mapa Europa</h1>
    <p>Acierta todos los paises o llega a 0 puntos para terminar</p>
    <button type="button" mat-raised-button color="primary" (click)="empezar()">
      <mat-icon>done</mat-icon>
      <span>Empezar</span>
    </button>
  </div>
  <div *ngIf="!fin">
    <h1 class="border-bottom border-top" [innerHTML]="pais"></h1>

    <div id="chartdiv" style="width: 100%; height: 60vh; margin-top: 50px;"></div>
  </div>

  <button type="button" mat-raised-button color="warn" (click)="salir()">
    <mat-icon>close</mat-icon>
    <span>Abandonar</span>
  </button>
</div>
