<mat-toolbar>
  <span>Ranking</span>
</mat-toolbar>

<div class="container mt-3" *ngIf="!loading">
  <mat-tab-group animationDuration="0ms" dynamicHeight>
    <mat-tab label="Ranking de Mapas">
      <mat-form-field class="mt-4">
        <mat-label>Filtrar por Usuario</mat-label>
        <input matInput (keyup)="applyFilterMapas($event)" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceMapas" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="nombre_juego">
          <th mat-header-cell *matHeaderCellDef> Modo </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_juego}} </td>
        </ng-container>


        <ng-container matColumnDef="puntuacion">
          <th mat-header-cell *matHeaderCellDef> Puntuación </th>
          <td mat-cell *matCellDef="let element"> {{element.puntuacion}} </td>
        </ng-container>


        <ng-container matColumnDef="tiempo">
          <th mat-header-cell *matHeaderCellDef> Tiempo </th>
          <td mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Ranking de Banderas">
      <mat-form-field class="mt-4">
        <mat-label>Filtrar por Usuario</mat-label>
        <input matInput (keyup)="applyFilterBanderas($event)" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceBanderas" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="nombre_juego">
          <th mat-header-cell *matHeaderCellDef> Modo </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_juego}} </td>
        </ng-container>


        <ng-container matColumnDef="puntuacion">
          <th mat-header-cell *matHeaderCellDef> Puntuación </th>
          <td mat-cell *matCellDef="let element"> {{element.puntuacion}} </td>
        </ng-container>


        <ng-container matColumnDef="tiempo">
          <th mat-header-cell *matHeaderCellDef> Tiempo </th>
          <td mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Ranking de Quiz">
      <mat-form-field class="mt-4">
        <mat-label>Filtrar por Usuario</mat-label>
        <input matInput (keyup)="applyFilterQuiz($event)" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceQuiz" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="nombre_juego">
          <th mat-header-cell *matHeaderCellDef> Modo </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_juego}} </td>
        </ng-container>


        <ng-container matColumnDef="puntuacion">
          <th mat-header-cell *matHeaderCellDef> Puntuación </th>
          <td mat-cell *matCellDef="let element"> {{element.puntuacion}} </td>
        </ng-container>


        <ng-container matColumnDef="tiempo">
          <th mat-header-cell *matHeaderCellDef> Tiempo </th>
          <td mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
  <mat-paginator [pageSizeOptions]="[3, 5, 10, 20]" aria-label="Select page of users"></mat-paginator>
</div>

<mat-spinner *ngIf="loading" diameter="50" class="spinner mt-4"></mat-spinner>
