<mat-toolbar color="primary" *ngIf="!loading" style="height: 80px;">
  <div class="container col-auto text-center">
    <img src="./assets/img/logo.png" alt="" width="150px">
  </div>
  <button class="position-absolute end-0 mx-3" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="info">
      <mat-icon>info</mat-icon>
      <span>Info</span>
    </button>
    <button mat-menu-item routerLink="juegos">
      <mat-icon>sports_esports</mat-icon>
      <span>Juegos</span>
    </button>
    <button mat-menu-item routerLink="settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item routerLink="logros">
      <mat-icon>emoji_events</mat-icon>
      <span>Logros</span>
    </button>
    <button mat-menu-item routerLink="ranking">
      <mat-icon>leaderboard</mat-icon>
      <span>Ranking</span>
    </button>
    <button mat-menu-item routerLink="administrar" *ngIf="esAdmin">
      <mat-icon>engineering</mat-icon>
      <span>Administrar</span>
    </button>
    <button mat-menu-item (click)="logoutUser()">
      <mat-icon>logout</mat-icon>
      <span>Exit</span>
    </button>
  </mat-menu>
</mat-toolbar>



<div class="container" *ngIf="!loading">
  <router-outlet></router-outlet>
</div>

<div class="body" *ngIf="loading">
  <div class="in">
    <mat-spinner diameter="50" class="spinner"></mat-spinner>
    <div [innerHTML]="target"></div>
  </div>
</div>

