<div class="body">
  <div class="in">
    <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
    <div [innerHTML]="target"></div>
    <form *ngIf="!loading" (ngSubmit)="registerUser()">
      <img src="./assets/img/usuario.png" alt="" width="50%">
      <h1>Register</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput autocomplete="off" name="name" [(ngModel)]="register.name">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput autocomplete="off" name="email" [(ngModel)]="register.email">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput autocomplete="off" name="password" [(ngModel)]="register.password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="ancho boton">Register</button>
      <button type="button" mat-button routerLink="navbar">
        <mat-icon>arrow_back</mat-icon>
        <span>Volver</span>
      </button>
    </form>
  </div>
</div>


