
<div class="container mt-3">
  <mat-tab-group animationDuration="0ms" dynamicHeight>
    <mat-tab label="Juegos de Mapas">
      <ng-template matTabContent>
        <app-juegos-mapas></app-juegos-mapas>
      </ng-template>
    </mat-tab>
    <mat-tab label="Juegos de Banderas">
      <ng-template matTabContent>
        <app-juegos-banderas></app-juegos-banderas>
      </ng-template>
    </mat-tab>
    <mat-tab label="Juegos de Preguntas">
      <ng-template matTabContent>
        <app-juegos-quiz></app-juegos-quiz>
      </ng-template>
    </mat-tab>
    <mat-tab label="Juegos Tutoriales">
      <ng-template matTabContent>
        <app-juegos-tutoriales></app-juegos-tutoriales>
      </ng-template></mat-tab>
  </mat-tab-group>
</div>


