<div class="container col-auto text-center mt-5" *ngIf="!fin">
  <img class="border" [src]="pregunta" style="width: 200px"/>
  <form [formGroup]="form" (ngSubmit)="comprobar()" class="mt-3">
    <mat-form-field class="ancho" appearance="fill">
      <input type="text" matInput autocomplete="off" formControlName="pais_formulario">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" class="ancho boton" style="display: none;">Comprobar</button>
  </form>
</div>

<div class="container" *ngIf="fin">
  <h1>Puntuación</h1>
  <h2 [innerHTML]="puntuacion"></h2>
</div>
