<div class="container col-auto text-center mt-5">
  <div id="secondTenthsExample">
    <div class="values"></div>
  </div>
  <div *ngIf="!fin">
    <img class="border mt-4" [src]="pregunta" style="width: 200px"/>
    <form [formGroup]="form" (ngSubmit)="comprobar()" class="mt-3">
      <mat-form-field class="ancho" appearance="fill">
        <input type="text" matInput autocomplete="off" formControlName="pais_formulario" autofocus>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="ancho boton" style="display: none;">Comprobar</button>
    </form>
  </div>

  <button type="button" mat-raised-button color="warn" (click)="salir()">
    <mat-icon>close</mat-icon>
    <span>Abandonar</span>
  </button>
</div>

<div class="container" *ngIf="fin">
  <h1>Puntuación</h1>
  <h2 [innerHTML]="puntuacion"></h2>
</div>
