
<div class="container text-center mt-5">
  <div *ngIf="start">
    <div id="secondTenthsExample">
      <div class="values"></div>
    </div>
    <h2 [innerHTML]="'Puntuación: '+puntuacion"></h2>
  </div>

  <div *ngIf="!start" class="mb-4">
    <h1>Juego Quiz Europa</h1>
    <p>Acierta las 5 pregunta o llega a 0 puntos para terminar</p>
    <button type="button" mat-raised-button color="primary" (click)="empezar()">
      <mat-icon>done</mat-icon>
      <span>Empezar</span>
    </button>
  </div>

  <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
  <div *ngIf="!fin">
    <div [innerHTML]="pregunta"></div>

    <br>

    <div class="row row-2 justify-content-center">
      <div class="col-md-2 col-6">
        <button mat-button id="respuesta1" class="w-100 h-100" (click)="comprobar('respuesta1')"></button>
      </div>
      <div class="col-md-2 col-6">
        <button mat-button id="respuesta2" class="w-100 h-100" (click)="comprobar('respuesta2')"></button>
      </div>
    </div>
    <br>
    <div class="row row-2 justify-content-center">
      <div class="col-md-2 col-6">
        <button mat-button id="respuesta3" class="w-100 h-100" (click)="comprobar('respuesta3')"></button>
      </div>
      <div class="col-md-2 col-6">
        <button mat-button id="respuesta4" class="w-100 h-100" (click)="comprobar('respuesta4')"></button>
      </div>
    </div>
  </div>

  <br>

  <div *ngIf="fin">
    <h1>THE END</h1>
    <p>Mire su nueva puntuación en el Ranking</p>
  </div>

  <button type="button" mat-raised-button color="warn" class="mt-5" (click)="salir()">
    <mat-icon>close</mat-icon>
    <span>Abandonar</span>
  </button>
</div>


